// HEADER :: START

header#header.header
  .c-grid
    .header__wrapper
      .header__wrapper-left(class!= (login) ? 'header__wrapper-start':'')
        +logotypeText("header", "", "Menrva")

      if(!login)
        .header__wrapper-right.d-flex.align-items-center.justify-content-end
          a.header__link(
            href="#"
            title="" class=""
          )!= "Log in"

          a.header__btn.c-btn.c-btn--darkGreen(
            href="#"
            title="" class=""
          )!= "Sign up"
      else
        .header__wrapper-end
          .search
            .search__wrapper
              input.search__input(type="text" name="searchValue" placeholder="Search" search-js)
              button.search__btn(type="submit")
                +iconSVG('search')
            .search__drop(search-drop-js)
              ul.search__drop-list
                li.search__drop-item
                  a(
                    href="#" 
                    title="" class=""
                  )!= "Lorem Ipsum is simply dummy"
                li.search__drop-item
                  a(
                    href="#"
                    title="" class=""
                  )!= "Lorem Ipsum"


// HEADER :: END