// HEADER :: START

header#header.header
  .c-grid
    .header__wrapper
      .header__wrapper-left(class!= (login) ? 'header__wrapper-start':'')
        +logotypeText("header", "", "Menrva")

      if(!login)
        .header__wrapper-right.d-flex.align-items-center.justify-content-end
          a.header__link(
            href="#"
            title="" class=""
          )!= "Log in"

          a.header__btn.c-btn.c-btn--darkGreen(
            href="#"
            title="" class=""
          )!= "Sign up"
      else
        .header__wrapper-end
          .search
            .search__wrapper
              input.search__input(type="text" name="searchValue" placeholder="Search" search-js)
              button.search__btn(type="submit")
                i.icon-font.icon-search
            .search__drop(search-drop-js)
              ul.search__drop-list
                li.search__drop-item
                  a(
                    href="#" 
                    title="" class=""
                  )!= "Lorem Ipsum is simply dummy"
                li.search__drop-item
                  a(
                    href="#"
                    title="" class=""
                  )!= "Lorem Ipsum"
                li.search__drop-item
                  a(
                    href="#"
                    title="" class=""
                  )!= "Lorem Ipsum is simply dummy"
                li.search__drop-item
                  a(
                    href="#"
                    title="" class=""
                  )!= "Lorem Ipsum"
                li.search__drop-item
                  a(
                    href="#"
                    title="" class=""
                  )!= "Lorem Ipsum is simply dummy"
                li.search__drop-item
                  a(
                    href="#"
                    title="" class=""
                  )!= "Lorem Ipsum"

          .profile
            .profile__left
              a.profile__link(
                href="#"
                title="" class=""
              )
                i.icon-font.icon-switcher-add
                span!= "Create note"

            .profile__right
              .dropdown
                a.dropdown__btn(href="#" id="profileDropdown0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                  img(
                    srcset="./img/img-user-0.png, ./img/img-user-0@2x.png 2x"
                    alt="" title=""
                  )
                .dropdown-menu.dropdown-menu-right(aria-labelledby="profileDropdown0")
                  .dropdown-item
                    .dropdown-item--left
                      .dropdown-item-circle
                        img(
                        srcset="./img/img-user-0.png, ./img/img-user-0@2x.png 2x"
                        alt="" title=""
                        )
                    .dropdown-item--right
                      p!= "User Name"
                      span!= "Student"

                  a.dropdown-item(href="#")
                    div
                      i.icon-font.icon-profile
                    span!= "Profile"
                  a.dropdown-item(href="#")
                    div
                      i.icon-font.icon-logout
                    span!= "Log out"
                  a.dropdown-item(href="#")
                    div
                      i.icon-font.icon-setting
                    span!= "Setting"
                  a.dropdown-item(href="#")
                    div
                      i.icon-font.icon-send-feedback
                    span!= "Send feedback"



// HEADER :: END