---
title: Menrva - Note assistant setting

contentClassName: p-assistant
dataPageName: assistant6
login: false
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#c-modal.c-modal.c-modal--classAdminEdit
      .c-modal__wrapper
        .c-modal__header.d-flex.align-items-center
          p.c-modal__title.subtitle!= "Settings"
          a.c-modal__close(href="#" title="" class="")
            i.icon-font.icon-error

        .c-modal__body

          form.form(action="" method="")
            .bill__create
              .bill__create-left
                label.form__label()!= "Avatar"

                .bill__create-box
                  img(
                  srcset="./img/img-create.png, ./img/img-create@2x.png 2x"
                  alt="" title=""
                  )

                  p!= "Choose an image"

              .bill__create-right.d-flex.flex-column.justify-content-between

                .form__field.form__field--input
                  label.form__label(for="createTitle")!= "Bot name"
                  .form__input-wrap
                    input.form__input(type="text" id="createTitle" name="createTitle" placeholder="Type bot name")
                  .form__notify.form__notify--hide

                .form__field.form__field--input
                  label.form__label(for="createDescription")!= "Description (optional)"
                  .form__input-wrap
                    input.form__input(type="text" id="createDescription" name="createDescription" placeholder="Type your description")
                  .form__notify.form__notify--hide

            .form__field.form__field--btn
              button.form__btn.c-btn.c-btn--lightGray(type="submit")!= "Delete a bot"
              button.form__btn(type="submit")!= "Update"