---
title: Menrva - Note assistant remove this bot

contentClassName: p-assistant
dataPageName: assistant7
login: false
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#c-modal.c-modal.c-modal--removeNote
      .c-modal__wrapper
        .c-modal__header.d-flex.align-items-center
          p.c-modal__title.subtitle!= "Remove this bot?"
          a.c-modal__close(href="#" title="" class="")
            i.icon-font.icon-error

        .c-modal__body
          p.c-modal__subtitle!= "Bot name"
          p.c-modal__subinfo!= "You are about to delete this bot and all of its data. No one will be able to access this bot ever again."
          p.c-modal__subinfo!= "Are you absolutely positive? There's no undo."

          form.form(action="" method="")
            .form__field.form__field--btn
              button.form__btn.form__btn--full(type="submit")!= "Remove"
              button.form__btn.form__btn--full(type="submit")!= "Cancel"