---
title: Menrva - Note assistant edit

contentClassName: p-assistant
dataPageName: assistant8
login: false
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#c-modal.c-modal.c-modal--editAssistant
      .c-modal__wrapper
        .c-modal__header.d-flex.align-items-center
          p.c-modal__title.subtitle!= "Edit entry"
          a.c-modal__close(href="#" title="" class="")
            i.icon-font.icon-error

        .c-modal__body

          p.c-modal__subinfo!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's "

          form.form(action="" method="")

            .form__field.form__field--textarea
              label.form__label(for="browseSuggest0")!= "If"
              .form__textarea-wrap
                textarea.form__textarea(id="browseSuggest0" name="browseSuggest0" placeholder="Type description")
              .form__notify.form__notify--hide

            .form__field.form__field--textarea
              label.form__label(for="browseSuggest1")!= "Then"
              .form__textarea-wrap
                textarea.form__textarea(id="browseSuggest1" name="browseSuggest1" placeholder="Type description")
              .form__notify.form__notify--hide

            .form__field.form__field--btn
              button.form__btn.c-btn.c-btn--lightGray(type="submit")!= "Delete an entry"
              button.form__btn(type="submit")!= "Update"