---
title: Menrva - Classes admin remove all members

contentClassName: p-classes
dataPageName: classes19
login: true
---
extends shared/_layout

block content
  div.body(class!= contentClassName)

    section#c-modal.c-modal.c-modal--removeNote
      .c-modal__wrapper
        .c-modal__header.d-flex.align-items-center
          p.c-modal__title.subtitle!= "Remove all members from this class?"
          a.c-modal__close(href="#" title="" class="")
            i.icon-font.icon-error

        .c-modal__body
          p.c-modal__subtitle!= "Class name"
          p.c-modal__subinfo!= "You are about to remove all members of Class 1."
          p.c-modal__subinfo!= "Are you absolutely positive? There's no undo."

          form.form(action="" method="")
            .form__field.form__field--btn
              button.form__btn.form__btn--full(type="submit")!= "Yes, remove all members"
              button.form__btn.form__btn--full(type="submit")!= "Cancel"
