---
title: Menrva - Manage your feed

contentClassName: trial
dataPageName: forum2
login: true
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#c-modal.c-modal.c-modal--forum
      .c-modal__wrapper
        .c-modal__header.d-flex.align-items-center
          p.c-modal__title.subtitle!= "Manage your feed"
          a.c-modal__close(
          href="#" title="" class=""
          )
            i.icon-font.icon-error

        .c-modal__body
          form.form
            .form__field.form__field--follow
              div
                .form__circle
                p!= "Name"
              div
                a.c-btn.c-btn--darkGreen(href="#" title="" class="")!= "Follow"
            .form__field.form__field--follow
              div
                .form__circle
                p!= "Name"
              div
                a.c-btn.c-btn--lightGray(href="#" title="" class="")!= "Unfollow"
            .form__field.form__field--follow
              div
                .form__circle
                p!= "Name"
              div
                a.c-btn.c-btn--darkGreen(href="#" title="" class="")!= "Follow"
            .form__field.form__field--follow
              div
                .form__circle
                p!= "Name"
              div
                a.c-btn.c-btn--darkGreen(href="#" title="" class="")!= "Follow"
