---
title: Menrva - Login

contentClassName: login
dataPageName: login
---
extends shared/_layout

block content
  div.body(class!= contentClassName)

    section#c-modal.c-modal.c-modal--login
      .c-modal__wrapper
        .c-modal__header.d-flex.align-items-center
          p.c-modal__title.subtitle!= "Log in"
          a.c-modal__close(
          href=""
          title="" class=""
          )
            +iconSVG('error')

        .c-modal__body
          p.c-modal__info!= "or <a href='#'>create an account</a>"

          button.c-btn.c-btn--bigH.c-btn--gp(type="button")
            div
              +iconSVG('i-gp')
            span!= "Log in with Google"

          button.c-btn.c-btn--bigH.c-btn--fb(type="button")
            div
              +iconSVG('i-fb')
            span!= "Log in with Facebook"

          form.form(action="" method="")
            .form__field.form__field--input
              label.form__label(for="signinEmail")!= "Email"
              .form__input-wrap
                input.form__input(type="text" id="signinEmail" name="signinEmail" placeholder="Type your email")
              .form__notify.form__notify--hide

            .form__field.form__field--input
              label.form__label(for="signinPassword")!= "Password"
              .form__input-wrap
                input.form__input(type="text" id="signinPassword" name="signinPassword" placeholder="Type your password")
              .form__notify.form__notify--hide

            .form__field.form__field--btn
              button.form__btn.form__btn--full(type="submit")!= "Login"

            .form__field.form__field--link
              a.form__link(
              href="#"
              title="" class=""
              )!= "Forgot password?"
