---
title: Menrva - Import book

contentClassName: notes
dataPageName: notes28
login: true
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left
            include ./macros/_menuMain

          .section__wrapper-right

            .section__title.section__title--notes
              .section__title-wrap
                .section__title-left
                  .section__title-icon
                    i.icon-font.icon-import
                  span!= "Import"

                .section__title-right
                  a(href="#" title="" class="")
                    i.icon-font.icon-error

            .bill
              .bill__wrapper

                .bill__row.bill__row-7.bill__row--import.bill__row--importBook
                  div.bill__import-wrapper
                    p.bill__import-text!= "Import your data. <span>Click <a href='#'>here</a> to upload your data.</span>"

                  .bill__import-block.section__block.mb-0
                    ul
                      li
                        div
                          p!= "Book name"
                          p!= "25mb"
                        div.d-flex.justify-content-end
                          a(
                            href="#"
                            title="" class=""
                          )
                            i.icon-font.icon-remove

                .bill__row.bill__row-7.bill__row--option
                  form.form(action="" method="")
                    .form__wrapper
                      .form__wrapper-top
                        .form__wrapper-left
                          label.form__label.form__label--notes!= "Between term and definition"
                          .form__field-cover
                            .form__field.form__field--radio
                              input.form__radio(type="radio" id="notesExportTab" name="notesExportTerm")
                              label(for="notesExportTab")
                                span!= "Tab"
                            .form__field.form__field--radio
                              input.form__radio(type="radio" id="notesExportComma" name="notesExportTerm" checked)
                              label(for="notesExportComma")
                                span!= "Comma"
                            .form__field.form__field--radio
                              input.form__radio(type="radio" id="notesExportTermCustom" name="notesExportTerm")
                              label(for="notesExportTermCustom")
                                span!= "Custom"
                            .form__field.form__field--custom
                              input(type='text' name='' placeholder='-')

                        .form__wrapper-right
                          label.form__label.form__label--notes!= "Between rows"
                          .form__field-cover
                            .form__field.form__field--radio
                              input.form__radio(type="radio" id="notesExportLine" name="notesExportRows")
                              label(for="notesExportLine")
                                span!= "New line"
                            .form__field.form__field--radio
                              input.form__radio(type="radio" id="notesExportSemicolon" name="notesExportRows" checked)
                              label(for="notesExportSemicolon")
                                span!= "Semicolon"
                            .form__field.form__field--radio
                              input.form__radio(type="radio" id="notesExportRowCustom" name="notesExportRows")
                              label(for="notesExportRowCustom")
                                span!= "Custom"
                            .form__field.form__field--custom
                              input(type='text' name='' placeholder='\\n\\n')

                        .form__wrapper-left
                          label.form__label.form__label--notes!= "Option"
                          .form__field.form__field--checkbox.form__field--checkbox-wp
                            .form__checkbox-wrap
                              input.form__checkbox(type="checkbox" id="notesExport" name="" checked)
                              label(for="notesExport")
                                u
                                span!= "Alphabetize"
                                i.icon-font.icon-check

                        .form__wrapper-right
                          .form__field.form__field--btn
                            button.form__btn(type="submit")!= "Import"

                .bill__row.bill__row--title
                  span!= "Preview"

                .bill__row.bill__row-9.bill__row--preview
                  .bill__preview
                    .bill__preview-head.d-flex.justify-content-end
                      .c-dropdown
                        .dropdown
                          a.dropdown__btn(href="#" id="notesFlashcardTitle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            span
                            span
                            span
                          .dropdown-menu.dropdown-menu-right(aria-labelledby="notesFlashcardTitle")
                            a.dropdown-item(href="#")
                              div
                                i.icon-font.icon-edit
                              span!= "Edit"
                            a.dropdown-item(href="#")
                              div
                                i.icon-font.icon-star-full
                              span!= "Set as primary"
                            a.dropdown-item(href="#")
                              div
                                i.icon-font.icon-remove
                              span!= "Remove"

                    .bill__preview-body
                      .tool
                        .tool__wrapper
                          .tool__preview
                            .tool__preview-control.d-flex.align-items-center.justify-content-between
                              div.d-flex.align-items-center
                                input(type="text" value="2")
                                span!= "of <i>4</i>"
                              div.d-flex.justify-content-end
                                a(
                                href="#"
                                title="" class=""
                                )
                                  i.icon-font.icon-edit

                            .tool__preview-scroll
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
