---
title: Menrva - Import flashcard

contentClassName: notes
dataPageName: notes15
login: true
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left
            include ./macros/_menuNotes

          .section__wrapper-right

            .section__title.section__title--notes
              .section__title-wrap
                .section__title-left
                  .section__title-icon
                    i.icon-font.icon-import
                  span!= "Import"

                .section__title-right
                  a(href="#" title="" class="")
                    i.icon-font.icon-error


            .bill
              .bill__wrapper

                .bill__row.bill__row-7.bill__row--import
                  div.bill__import-wrapper
                    p.bill__import-text!= "Import your data. <span>Copy and paste your data here or</span> upload it."

                  .bill__import-block.section__block.mb-0
                    ul
                      li
                        span!= "Word 1"
                        span!= "Definition 1"
                      li
                        span!= "Word 2"
                        span!= "Definition 2"
                      li
                        span!= "Word 3"
                        span!= "Definition 3"


                .bill__row.bill__row-7.bill__row--option
                  form.form(action="" method="")
                    .form__wrapper
                      .form__wrapper-top
                        .form__wrapper-left
                          label.form__label.form__label--notes!= "Between term and definition"
                          .form__field-cover
                            .form__field.form__field--radio
                              input.form__radio(type="radio" id="notesExportTab" name="notesExportTerm")
                              label(for="notesExportTab")
                                span!= "Tab"
                            .form__field.form__field--radio
                              input.form__radio(type="radio" id="notesExportComma" name="notesExportTerm" checked)
                              label(for="notesExportComma")
                                span!= "Comma"
                            .form__field.form__field--radio
                              input.form__radio(type="radio" id="notesExportTermCustom" name="notesExportTerm")
                              label(for="notesExportTermCustom")
                                span!= "Custom"
                            .form__field.form__field--custom
                              input(type='text' name='' placeholder='-')

                        .form__wrapper-right
                          label.form__label.form__label--notes!= "Between rows"
                          .form__field-cover
                            .form__field.form__field--radio
                              input.form__radio(type="radio" id="notesExportLine" name="notesExportRows")
                              label(for="notesExportLine")
                                span!= "New line"
                            .form__field.form__field--radio
                              input.form__radio(type="radio" id="notesExportSemicolon" name="notesExportRows" checked)
                              label(for="notesExportSemicolon")
                                span!= "Semicolon"
                            .form__field.form__field--radio
                              input.form__radio(type="radio" id="notesExportRowCustom" name="notesExportRows")
                              label(for="notesExportRowCustom")
                                span!= "Custom"
                            .form__field.form__field--custom
                              input(type='text' name='' placeholder='\\n\\n')

                        .form__wrapper-left
                          label.form__label.form__label--notes!= "Option"
                          .form__field.form__field--checkbox.form__field--checkbox-wp
                            .form__checkbox-wrap
                              input.form__checkbox(type="checkbox" id="notesExport" name="" checked)
                              label(for="notesExport")
                                u
                                span!= "Alphabetize"
                                i.icon-font.icon-check

                        .form__wrapper-right
                          .form__field.form__field--btn
                            button.form__btn(type="submit")!= "Import"

                .bill__row.bill__row--title
                  span!= "Preview"

                .bill__row.bill__row-8.bill__row--block
                  .section__block.bill__block.bill__block--three.bill__block--create.bill__block--input

                    .bill__block-left
                      span!= "1"

                    .bill__block-middle
                      .form__field.form__field--input
                        label.form__label(for="notesCreate0")!= "Term"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate0" name="notesCreate0" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

                    .bill__block-right
                      .form__field.form__field--input
                        label.form__label(for="notesCreate1")!= "Definition"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate1" name="notesCreate1" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

                  .section__block.bill__block.bill__block--three.bill__block--create.bill__block--input
                    .bill__block-left
                      a(
                      href="#"
                      title="" class=""
                      )!= ""
                        i.icon-font.icon-remove

                    .bill__block-middle
                      .form__field.form__field--input
                        label.form__label(for="notesCreate2")!= "Term"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate2" name="notesCreate2" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

                    .bill__block-right
                      .form__field.form__field--input
                        label.form__label(for="notesCreate3")!= "Definition"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate3" name="notesCreate3" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

                  .section__block.bill__block.bill__block--three.bill__block--opacity.bill__block--create.bill__block--input
                    .bill__block-left
                      span!= "2"

                    .bill__block-middle
                      .form__field.form__field--input
                        label.form__label(for="notesCreate4")!= "Term"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate4" name="notesCreate4" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

                    .bill__block-right
                      .form__field.form__field--input
                        label.form__label(for="notesCreate5")!= "Definition"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate5" name="notesCreate5" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

