---
title: Menrva - Create book 2

contentClassName: notes
dataPageName: notes27
login: true
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left
            include ./macros/_menuNotes

          .section__wrapper-right

            .section__title.section__title--notes
              .section__title-wrap
                .section__title-left
                  .section__title-icon
                    i.icon-font.icon-bill
                  span!= "Create book"

                .section__title-right
                  a(href="#" title="" class="")
                    i.icon-font.icon-error

            .bill
              .bill__wrapper
                .bill__row.bill__row-6.bill__row--create
                  form.form(action="" method="")
                    .bill__create
                      .bill__create-left
                        label.form__label()!= "Cover"

                        .bill__create-box
                          img(
                          srcset="./img/img-create.png, ./img/img-create@2x.png 2x"
                          alt="" title=""
                          )

                          p!= "Drag and drop any image or choose an image"

                      .bill__create-right.d-flex.flex-column.justify-content-between

                        .form__field.form__field--input
                          label.form__label(for="createTitle")!= "Title"
                          .form__input-wrap
                            input.form__input(type="text" id="createTitle" name="createTitle" placeholder="Type your title")
                          .form__notify.form__notify--hide

                        .form__field.form__field--input
                          label.form__label(for="createDescription")!= "Description  (optional)"
                          .form__input-wrap
                            input.form__input(type="text" id="createDescription" name="createDescription" placeholder="Type your description")
                          .form__notify.form__notify--hide

                        .form__field.form__field--group.d-flex.justify-content-between
                          div
                            label.form__label!= "Course  (optional)"
                            .form__field.form__field--select
                              .form__select-wrap
                                .form__select
                                  span.select__value
                                  select(name="")
                                    option(value="0" disabled selected hidden)!= "Course"
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                  span.select__icon-wrap
                                    i.icon-font.icon-arrow

                          div
                            label.form__label!= "Category (optional)"
                            .form__field.form__field--select
                              .form__select-wrap
                                .form__select
                                  span.select__value
                                  select(name="")
                                    option(value="0" disabled selected hidden)!= "Category"
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                  span.select__icon-wrap
                                    i.icon-font.icon-arrow

                .bill__row.bill__row-7.bill__row--public
                  .bill__public.d-flex.align-items-center.justify-content-between
                    .bill__public-left
                      p!= "+ Import from Word, Excel, Google Docs, etc."

                    .bill__public-right.d-flex.justify-content-end
                      p.bill__public-lock
                        i.icon-font.icon-lock-2
                        span!= "Share access"

                      form.form(action="" method="")
                        .form__field.form__field--swipe
                          input(type="checkbox" id="publicSwipe" name="")
                          label(for="publicSwipe")
                            div
                              i.icon-font.icon-safety
                              p!= "Public note"
                            div
                            div

                .bill__row.bill__row--title.pt-0
                  span!= "Preview"

                .bill__row.bill__row-9.bill__row--preview
                  .bill__preview
                    .bill__preview-head.d-flex.justify-content-end
                      .c-dropdown
                        .dropdown
                          a.dropdown__btn(href="#" id="notesFlashcardTitle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            span
                            span
                            span
                          .dropdown-menu.dropdown-menu-right(aria-labelledby="notesFlashcardTitle")
                            a.dropdown-item(href="#")
                              div
                                i.icon-font.icon-edit
                              span!= "Edit"
                            a.dropdown-item(href="#")
                              div
                                i.icon-font.icon-star-full
                              span!= "Set as primary"
                            a.dropdown-item(href="#")
                              div
                                i.icon-font.icon-remove
                              span!= "Remove"

                    .bill__preview-body
                      .tool
                        .tool__wrapper
                          .tool__preview
                            .tool__preview-control.d-flex.align-items-center.justify-content-between
                              div.d-flex.align-items-center
                                input(type="text" value="2")
                                span!= "of <i>4</i>"
                              div.d-flex.justify-content-end
                                a(
                                href="#"
                                title="" class=""
                                )
                                  i.icon-font.icon-edit

                            .tool__preview-scroll
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                .bill__row.bill__row-5.bill__row--btn
                  a.c-btn.c-btn--bigH.c-btn--darkGreen.mr-0(href="#" title="" class="")!= "Create"