---
title: Menrva - Import flashcard

contentClassName: notes
dataPageName: notes15
login: true
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left
            include ./macros/_menuMain

          .section__wrapper-right

            .section__title.section__title--notes
              .section__title-wrap
                .section__title-left
                  .section__title-icon
                    i.icon-font.icon-import
                  span!= "Import"

                .section__title-right
                  a(href="#" title="" class="")
                    i.icon-font.icon-error


            .bill
              .bill__wrapper

                .bill__row.bill__row--title
                  span!= "Preview"

                .bill__row.bill__row-8.bill__row--block
                  .section__block.bill__block.bill__block--three.bill__block--create.bill__block--input

                    .bill__block-left
                      span!= "1"

                    .bill__block-middle
                      .form__field.form__field--input
                        label.form__label(for="notesCreate0")!= "Term"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate0" name="notesCreate0" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

                    .bill__block-right
                      .form__field.form__field--input
                        label.form__label(for="notesCreate1")!= "Definition"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate1" name="notesCreate1" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

                  .section__block.bill__block.bill__block--three.bill__block--create.bill__block--input
                    .bill__block-left
                      a(
                      href="#"
                      title="" class=""
                      )!= ""
                        i.icon-font.icon-remove

                    .bill__block-middle
                      .form__field.form__field--input
                        label.form__label(for="notesCreate2")!= "Term"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate2" name="notesCreate2" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

                    .bill__block-right
                      .form__field.form__field--input
                        label.form__label(for="notesCreate3")!= "Definition"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate3" name="notesCreate3" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

                  .section__block.bill__block.bill__block--three.bill__block--opacity.bill__block--create.bill__block--input
                    .bill__block-left
                      span!= "2"

                    .bill__block-middle
                      .form__field.form__field--input
                        label.form__label(for="notesCreate4")!= "Term"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate4" name="notesCreate4" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

                    .bill__block-right
                      .form__field.form__field--input
                        label.form__label(for="notesCreate5")!= "Definition"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate5" name="notesCreate5" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

