---
title: Menrva - Flashcard

contentClassName: notes
dataPageName: notes16
login: true
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left
            include ./macros/_menuMain

          .section__wrapper-right

            .section__title.section__title--notes
              .section__title-wrap
                .section__title-left
                  .section__title-icon
                    i.icon-font.icon-bill
                  span!= "Flashcard"

                .section__title-right
                  a(href="#" title="" class="")
                    i.icon-font.icon-error

            .bill
              .bill__wrapper
                .bill__row.bill__row-6.bill__row--create
                  form.form(action="" method="")
                    .bill__create
                      .bill__create-left
                        label.form__label()!= "Cover"

                        .bill__create-box
                          img(
                          srcset="./img/img-create.png, ./img/img-create@2x.png 2x"
                          alt="" title=""
                          )

                          p!= "Drag and drop any image or choose an image"

                      .bill__create-right.d-flex.flex-column.justify-content-between

                        .form__field.form__field--input
                          label.form__label(for="createTitle")!= "Title"
                          .form__input-wrap
                            input.form__input(type="text" id="createTitle" name="createTitle" placeholder="Type your title")
                          .form__notify.form__notify--hide

                        .form__field.form__field--input
                          label.form__label(for="createDescription")!= "Description  (optional)"
                          .form__input-wrap
                            input.form__input(type="text" id="createDescription" name="createDescription" placeholder="Type your description")
                          .form__notify.form__notify--hide

                        .form__field.form__field--group.d-flex.justify-content-between
                          div
                            label.form__label!= "Course  (optional)"
                            .form__field.form__field--select
                              .form__select-wrap
                                .form__select
                                  span.select__value
                                  select(name="")
                                    option(value="0" disabled selected hidden)!= "Course"
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                    option(value="1")!= "Course ..."
                                  span.select__icon-wrap
                                    i.icon-font.icon-arrow

                          div
                            label.form__label!= "Category (optional)"
                            .form__field.form__field--select
                              .form__select-wrap
                                .form__select
                                  span.select__value
                                  select(name="")
                                    option(value="0" disabled selected hidden)!= "Category"
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                    option(value="1")!= "Category ..."
                                  span.select__icon-wrap
                                    i.icon-font.icon-arrow

                .bill__row.bill__row-7.bill__row--public
                  .bill__public.d-flex.align-items-center.justify-content-between
                    .bill__public-left
                      p!= "+ Import from Word, Excel, Google Docs, etc."

                    .bill__public-right.d-flex.justify-content-end
                      form.form(action="" method="")

                        .form__field.form__field--swipe
                          input(type="checkbox" id="publicSwipe" name="")
                          label(for="publicSwipe")
                            div
                              i.icon-font.icon-safety
                              p!= "Public note"
                            div
                            div

                .bill__row.bill__row-8.bill__row--block
                  .section__block.bill__block.bill__block--three.bill__block--create.bill__block--input
                    a(
                    href="#"
                    title="" class=""
                    )
                      i.icon-font.icon-plus

                    .bill__block-left
                      span!= "1"

                    .bill__block-middle
                      .form__field.form__field--input
                        label.form__label(for="notesCreate0")!= "Term"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate0" name="notesCreate0" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

                    .bill__block-right
                      .form__field.form__field--input
                        label.form__label(for="notesCreate1")!= "Definition"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate1" name="notesCreate1" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

                  .section__block.bill__block.bill__block--three.bill__block--create.bill__block--input
                    .bill__block-left
                      a(
                      href="#"
                      title="" class=""
                      )!= ""
                        i.icon-font.icon-remove

                    .bill__block-middle
                      .form__field.form__field--input
                        label.form__label(for="notesCreate2")!= "Term"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate2" name="notesCreate2" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

                    .bill__block-right
                      .form__field.form__field--input
                        label.form__label(for="notesCreate3")!= "Definition"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate3" name="notesCreate3" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

                  .section__block.bill__block.bill__block--three.bill__block--opacity.bill__block--create.bill__block--input
                    .bill__block-left
                      span!= "2"

                    .bill__block-middle
                      .form__field.form__field--input
                        label.form__label(for="notesCreate4")!= "Term"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate4" name="notesCreate4" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide

                    .bill__block-right
                      .form__field.form__field--input
                        label.form__label(for="notesCreate5")!= "Definition"
                        .form__input-wrap
                          input.form__input(type="text" id="notesCreate5" name="notesCreate5" placeholder="Lorem Ipsum is simply dummy text")
                        .form__notify.form__notify--hide


                .bill__row.bill__row-5.bill__row--btn
                  a.c-btn.c-btn--bigH.c-btn--darkGreen.mr-0(href="#" title="" class="")!= "Update"