---
title: Menrva - Send feedback 1

contentClassName: view
dataPageName: profile5
login: true
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#new.new.new--view
      .c-grid
        .new__wrapper
          h1.new__title.title!= "Talk with our support team"
          p.new__text.text!= "Please submit your information and a Menrva representative will contact you as soon as possible. If you have a simple question, please see our <a href='#'>Forum.</a>"

          .new__form
            form.form(action="" method="")
              .form__field.form__field--input
                label.form__label(for="supportName")!= "Name"
                .form__input-wrap
                  input.form__input(type="text" id="supportName" name="supportName" placeholder="")
                .form__notify.form__notify--show

              .form__field.form__field--input
                label.form__label(for="supportEmail")!= "Email"
                .form__input-wrap
                  input.form__input(type="text" id="supportEmail" name="supportEmail" placeholder="")
                .form__notify.form__notify--hide

              .form__field.form__field--textarea
                label.form__label(for="supportMessage")!= "What would you like to discuss?*"
                .form__textarea-wrap
                  textarea.form__textarea(id="supportMessage" name="supportMessage")
                .form__notify.form__notify--hide

              .form__field.form__field--btn
                button.form__btn(type="submit")!= "Submit"
