---
title: Menrva - Search

contentClassName: scan
dataPageName: search1
login: true
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left
            include ./macros/_menuMain

          .section__wrapper-right

            .section__subtitle.section__subtitle--search
              .section__subtitle-wrap
                .section__subtitle-left
                  .section__subtitle-icon
                    i.icon-font.icon-notes
                  span!= "120 Notes"

                .section__subtitle-right
                  a(
                    href="#"
                    title="" class=""
                  )
                    i.icon-font.icon-filter
                    span!= "Filter"

            .notes__box-wrapper
              each val, idx in [0,1,2,3,4,5,6]
                .notes__box(class!= "notes__box-" + idx)
                  .notes__box-left
                  .notes__box-middle
                    p.notes__box-title!= "Lorem Ipsum is simply dummy"
                    .notes__box-info
                      a(href="#" title="" class="")
                        i.icon-font.icon-select
                        span!= "12K"
                      a(href="#" title="" class="")
                        i.icon-font.icon-like
                        span!= "567"
                      a(href="#" title="" class="")
                        i.icon-font.icon-save
                        span!= "67"
                      a(href="#" title="" class="")
                        i.icon-font.icon-profile
                        span!= "Owner Name"
                      a(href="#" title="" class="")
                        i.icon-font.icon-recent
                        span!= "1 year ago"

                  .notes__box-right
                    .notes__box-drop
                      .dropdown
                        a.dropdown__btn(href="#" id="notesBox0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                          span
                          span
                          span
                        .dropdown-menu.dropdown-menu-right(aria-labelledby="notesBox0")
                          a.dropdown-item(href="#")
                            div
                              i.icon-font.icon-save
                            span!= "Save note"
