---
title: Menrva - Delete account

contentClassName: setting
dataPageName: setting1
login: true
---
extends shared/_layout

block content
  div.body(class!= contentClassName)

    section#c-modal.c-modal.c-modal--delAcc
      .c-modal__wrapper
        .c-modal__header.d-flex.align-items-center
          p.c-modal__title.subtitle!= "Delete account"
          a.c-modal__close(
          href=""
          title="" class=""
          )
            i.icon-font.icon-error

        .c-modal__body
          p.c-modal__text!= "To confirm it's really you, please enter your Menrva password."

          form.form(action="" method="")
            .form__field.form__field--input
              label.form__label(for="delAcc")!= "Password"
              .form__input-wrap
                input.form__input(type="text" id="delAcc" name="delAcc" placeholder="")
              .form__notify.form__notify--hide

            .form__field.form__field--btn
              button.form__btn.form__btn--full(type="submit")!= "Continue"
