---
title: Menrva - Setting Personal storage space

contentClassName: setting
dataPageName: setting10
login: true
---
extends shared/_layout

block content
  div.body(class!= contentClassName)

    section#c-modal.c-modal.c-modal--storage
      .c-modal__wrapper
        .c-modal__header
          p.c-modal__subtitle!= "Pricing plan"
          p.c-modal__title.subtitle!= "Personal storage space"
          a.c-modal__close(
            href="#" title="" class=""
          )
            +iconSVG('error')

        .c-modal__body
          form.form(action="" method="")

            .form__field.form__field--swipe
              input(type="checkbox" id="storageSwipe" name="")
              label(for="storageSwipe")
                div
                  p!= "Billed monthly"
                div
                div
                  p!= "Billed yearly"

            p.c-modal__info!= "100 GB"
            p.c-modal__subinfo!= "+$2.00 per month"

            .form__field.form__field--btn
              button.form__btn.form__btn--full(type="submit")!= "Upgrade"
            