---
title: Menrva - Menrva oremium

contentClassName: login
dataPageName: signup2
---
extends shared/_layout

block content
  div.body(class!= contentClassName)

    section#c-modal.c-modal.c-modal--plan
      .c-modal__wrapper
        .c-modal__header
          p.c-modal__subtitle!= "Pricing plan"
          p.c-modal__title.subtitle!= "Menrva Premium"
          a.c-modal__close(
            href="#" title="" class=""
          )
            i.icon-font.icon-error

        .c-modal__body
          p.c-modal__info!= "$9.99"
          p.c-modal__subinfo!= "per month"

          ul.c-modal__list
            li
              div
                i.icon-font.icon-check
              p!= "Create courses and notes"

            li
              div
                i.icon-font.icon-check
              p!= "Study books, passages, and flashcards"

            li
              div
                i.icon-font.icon-check
              p!= "Analyze statistics to improve performance"

            li
              div
                i.icon-font.icon-check
              p!= "Use spaced repetition to increase efficiency"

            li
              div
                i.icon-font.icon-check
              p!= "Discuss and collaborate with others"


          form.form(action="" method="")
            .form__field.form__field--btn
              button.form__btn.form__btn--full(type="submit")!= "Start 14-day free trial"