// SOON :: START

section#soon.soon
  .c-grid
    .soon__wrapper
      .soon__wrapper-left
        .soon__block-wrapper
          img.soon__block.soon__block-0(
            srcset="./img/img-galaxy-soon.png, ./img/img-galaxy-soon@2x.png 2x"
            alt="" title=""
           )
          img.soon__block.soon__block-1(
            srcset="./img/img-iphone-soon.png, ./img/img-iphone-soon@2x.png 2x"
            alt="" title=""
           )

      .soon__wrapper-right
        h1.soon__title.title!= "Coming soon"
        p.soon__text.text!= "The Menrva team is working to develop iOS and Android apps as soon as possible and anticipate a release date of February 1, 2019 for both."

// SOON :: END